{
  # email {$YOUR_EMAIL}
  acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

{$HOST} {
  reverse_proxy /filesync v2ray:80
  reverse_proxy /* blog.abreto.net:80
}

# header_upstream -Origin

