[HOST]:80 {
  redir https://{host}{uri}
}

[HOST]:443 {
  log / stdout "{combined}"
  root /srv
  tls /private/cert.pem /private/key.pem
  proxy /theory http://v2ray:8008 {
    # websocket {
    header_upstream Connection upgrade
    header_upstream Upgrade {>Upgrade}
    # }
    header_upstream Host {>Host}
    header_upstream -Origin
  }
}
